@import url("https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css");

.App {
  height: 125vh;
  background-image: linear-gradient(180deg, rgb(23, 92, 156) 0%, transparent 33%), url('https://cdn.pixabay.com/photo/2015/07/06/01/51/bridge-832927_960_720.jpg');
  background-size: cover;
}

._rk5m7u {
  -webkit-box-lines: nowrap;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

._6d98wc {
  color: #333333;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
  margin: 0 10px;
}

._6d98wc:first-child {
  @media only screen and (min-width: 754px) {
    margin: 0
  }
}

._3ymhlp {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1.143rem;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0.571rem;
}

._iihd54 {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-box-lines: nowrap;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

button:not([data-a11y]),
canvas,
input,
textarea {
  outline: none;
}

._vkpkryNaN {
  border: none;
  cursor: pointer;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 0.857rem;
  line-height: 1.5;
  letter-spacing: 0px;
  display: block;
  background-color: transparent;
  color: #ffffff;
}

._e296pg {
  position: relative;
}

._1xkf6cj {
  background-color: #ffffff;
  border-radius: 0.214rem;
  position: relative;
}

._oscnnj {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  bottom: 0px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: absolute;
  right: 0.571rem;
  top: 0px;
}

._ej02hh {
  stroke: #000000;
  width: 1rem;
}

._12p3clnNaN {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  letter-spacing: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: #b2b2b2;
  border-radius: 0.214rem;
  color: #333333;
  padding: 0.571rem 1.143rem;
  width: 100%;
  background-color: transparent;
  line-height: 1.3rem;
  padding-left: 0.571rem;
  padding-right: 2.286rem;
  position: relative;
}

._i2spsx {
  margin-top: 0.2856rem;
}

._1i1urt0 {
  position: relative;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 0.214rem;
}

._13aylj1c {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.3;
  letter-spacing: 0px;
  position: relative;
  width: 100%;
  height: -webkit-calc(0.571rem * 2 + 1.3rem + 1.8px);
  height: -moz-calc(0.571rem * 2 + 1.3rem + 1.8px);
  height: calc(0.571rem * 2 + 1.3rem + 1.8px);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #ffffff;
  color: #333333;
  border: solid 1px #b2b2b2;
  border-radius: 0.214rem;
  padding: 0 0.571rem;
  padding-right: -webkit-calc(1.143rem + 0.8rem);
  padding-right: -moz-calc(1.143rem + 0.8rem);
  padding-right: calc(1.143rem + 0.8rem);
  text-overflow: ellipsis;
  margin: 0;
}

._4swfi4 {
  position: absolute;
  top: 40%;
  right: 0.571rem;
  width: 1rem;
  height: 0.8rem;
  pointer-events: none;
}

._gq764a {
  -webkit-box-lines: nowrap;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin-top: 0.2856rem;
}

._1uztl9us:first-child {
  margin-right: 0.2856rem;
}

._1uztl9us {
  position: relative;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 0.214rem;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-flex: 1;
}

._12i73cuNaN:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

._12i73cuNaN {
  border: none;
  cursor: pointer;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 0.857rem;
  line-height: 1.5;
  letter-spacing: 0px;
  display: block;
  background-color: transparent;
  color: #ffffff;
}

._e296pg {
  position: relative;
}

._1dxunp0c {
  border-radius: 0.214rem;
  position: relative;
  background-color: #ebebeb;
  opacity: 0.5;
}

._oscnnj {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  bottom: 0px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: absolute;
  right: 0.571rem;
  top: 0px;
}

svg:not(:root) {
  overflow: hidden;
}

._ej02hh {
  stroke: #000000;
  width: 1rem;
}

._spdx8kNaN {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  letter-spacing: 0px;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.214rem;
  padding: 0.571rem 1.143rem;
  width: 100%;
  background-color: transparent;
  line-height: 1.3rem;
  padding-left: 0.571rem;
  padding-right: 2.286rem;
  position: relative;
  border-color: #e0e0e0;
  color: #b2b2b2;
}

._i2spsx {
  margin-top: 0.2856rem;
}

._v9dkmhm {
  position: relative;
  background-color: #ffffff;
  border-radius: 0.214rem;
  opacity: 0.5;
  cursor: default;
}

._13aylj1c:disabled {
  padding-right: -webkit-calc(1.143rem + 0.8rem);
  padding-right: -moz-calc(1.143rem + 0.8rem);
  padding-right: calc(1.143rem + 0.8rem);
  background-color: #ebebeb;
}

._gq764a {
  -webkit-box-lines: nowrap;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin-top: 0.2856rem;
}

._5zsm8kq:first-child {
  margin-right: 0.2856rem;
}

._5zsm8kq {
  position: relative;
  background-color: #ffffff;
  border-radius: 0.214rem;
  opacity: 0.5;
  cursor: default;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-flex: 1;
}

._1g4t0hn {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #21314d;
  opacity: 0.5;
}

._uwii1x4 {
  width: 100%;
  height: 1px;
  background: none;
  margin-top: 0.571rem;
  margin-bottom: 0.571rem;
  border-top: 1px solid #b2b2b2;
  border-left: none;
  border-right: none;
  border-bottom: none;
  opacity: 0.2;
}

._u8v19d {
  color: #333333;
  position: relative;
  height: 100%;
}

._kvd4xo2 {
  border: none;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 0.214rem;
  line-height: 1.39rem;
  padding: 0.571rem;
  padding-right: 1.714rem;
  position: relative;
  text-align: left;
  width: 100%;
  height: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
}

._39fxt1 {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  bottom: 0px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: absolute;
  right: 0.571rem;
  top: 0px;
}

._1jawgtw {
  width: 1rem;
}

._11rhhtw {
  margin-top: 1.143rem;
  position: relative;
}

._h9fi920 {
  border: none;
  cursor: pointer;
  background-color: #01c3a7;
  border-radius: 0.429rem;
  color: #ffffff;
  width: 100%;
  font-family: Circular, Helvetica, Arial, sans-serif;
  font-size: 1.429rem;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0px;
  min-height: auto;
  padding: 0.571rem;
}

._153f9ln {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  bottom: 0px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: absolute;
  right: 1.143rem;
  top: 0px;
}

._18vm417 {
  height: 0.9rem;
  stroke: #ffffff;
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}